.page {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 12px;
  border: 1px solid #323b54;
  height: 50px;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
}
.page.current {
  background-color: #7b6ef6;
}
