.textarea {
  background: none;
  border: none;
  color: #a3adc8;
  font-size: 14px;
  outline: none;
  border-radius: 12px;
  border: 1px solid #323b54;
  width: 100%;
  min-height: 300px;
  padding: 15px;
}
