@import url(./reset.scss);
@import url(./_fonts.scss);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "Poppins", sans-serif;
  background-color: #121829;
  background-image: url(../../assets/images/Background.png);
  background-size: cover;
  min-height: 100vh;
  color: white;
}

::placeholder {
  color: #475069;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

textarea {
  font-family: "Poppins", sans-serif;
  resize: none;
}

.slick-dots li button::before {
  color: white;
}
